/* Общие стили
******************************************************************************/

select,button {
	margin:0;
	padding:0;
}

textarea {
	resize: vertical;
}

input,
button,
textarea,
select {
	font: normal normal 1em/1 Arial, Verdana, Tahoma, 'Trebuchet ms', sans-serif;
	color: #333333;
	background-color: #eeeeee;
	vertical-align: top;
}

input,
button,
textarea {
	border: 1px solid;
	border-color: #444444 #cccccc #cccccc #444444;
}

select {
	border: 1px solid #444444;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	line-height: 1.2;
	padding: 1px;
	background-color: #eeeeee;
	margin-right: 5px;

	border: 1px solid;
	border-color: #cccccc #444444 #444444 #cccccc;
	border-radius: 2px;
}

button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus {
	background-color: #f8f8f8;
}

input[type='radio'],
input[type='checkbox'] {
	vertical-align: text-bottom;
	margin: 0 .5ex;
}

label {
	padding-right: 1ex;
}

/* Частные стили
******************************************************************************/

#comment-form-itself {
}

#comment-form .form-comment-name,
#comment-form .form-comment-email,
#comment-form .form-comment-site,
#comment-form .form-comment-body {
	margin: 0 7px 7px 0;
}

#comment-form .form-comment-name  label,
#comment-form .form-comment-email label,
#comment-form .form-comment-site  label,
#comment-form .form-comment-body  label {
	font-weight: bold;
	width: 50px;
}

#comment-form .form-comment-name  label,
#comment-form .form-comment-email label,
#comment-form .form-comment-site  label {
	display: inline-block;
}

#comment-form .form-comment-body  label {
	display: block;
}

#openid-form,
#login-form {
	font-size: .8em;
}

#openid-form,
#login-form {
	white-space: nowrap;
}

#openid-form ul,
#login-form ul {
	display: inline;
}

#openid-form input,
#login-form input {
	display: inline;
}

#openid-form label,
#login-form label {
	display: block;
	border-bottom: 1px solid #444444;
	padding-bottom: 3px;
}

	#openid-form #openid_url {
		width: 10em;
	}

	#login-form #email,
	#login-form #password {
		width: 5em;
	}

#login-form-marker {
	position: absolute;
	width: 0px; height: 0px;
}
