@import url(reset.css);
@import url(typo.css);
@import url(forms.css);

body {
	background: #ffffff;
}

/*
******************************************************************************/

.l-wrap {
	margin: 0 auto;
	width: 800px;
}

.l-header {
	padding: 50px 15px 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #ff9900;
	overflow: hidden;
}

.l-content {
	float: left;
	width: 485px;
	margin: 0 30px 0 15px;
}

.l-sidebar {
	float: left;
	width: 255px;
	margin-left: 15px;
}

.l-footer {
	clear: both;
	color: #999999;
	border-top: 2px solid #ff9900;
	text-align: right;
	padding: 15px;
}


/*
******************************************************************************/

.l-header h1 {
	float: left;

	vertical-align: bottom;
	font-size: 2.2em;
	font-weight: normal;
	letter-spacing: -1px;

	color: #ff9900;
}

	.l-header h1 span {
		color: #ffc875;
		line-height: 1;
	}

.l-header em {
	clear: left; float: left;
}

/*
******************************************************************************/
	
.b-static-links {
	text-align: right;
	color: #cccccc;
}

	.b-static-links li {
		display: inline-block;
		margin-left: 10px;
		line-height: 1;
		vertical-align: bottom;
	}

		.b-static-links li a {
			text-decoration: none;
			color: #999999;
			font-weight: bold;
		}

		.b-static-links li a:hover {
			color: #333333;
		}

		.b-static-links li a.active {
			color: #ff9900;
		}

/*
******************************************************************************/

.l-footer a {
	color: #999999;
	text-decoration: none;
}

.l-footer a:hover {
	color: #ff9900;
}

/*
******************************************************************************/

.b-block {
	margin-bottom: 15px;
}

.b-meta li {
	display: inline;
}


.b-meta li:before {content: ' | '}
.b-meta li:first-child:before {content: ''}

/*
альтернативный вариант.
.b-meta li {padding-left: .5ex;
			border-left: 1px solid;
			margin-left: .5ex;}
.b-meta li:first-child { border-left: none; margin: 0; padding: 0; }
*/

.b-post {
	margin-bottom: 15px;
}


.comment-form {
}