@import url(reset.css);
@import url(typo.css);
@import url(forms.css);

html {
	background: #ffffff;
}

/*
******************************************************************************/

.l-wrap {
	margin: 0 auto;
	width: 950px;
}

.l-header {
	padding: 50px 15px 15px;
	margin-bottom: 15px;
	border-bottom: 2px solid #ff9900;
}

.l-header:after {
	content: '';
	height: 0px;
	display: block;
	clear: both;
}

.l-content {
	float: left;
	width: 635px;
	margin: 0 0 0 15px;
}

.l-sidebar {
	float: left;
	width: 255px;
	margin-left: 15px;

	position: relative;
	left: 30px;
}

	.swap .l-content {
		position: relative;
		left: 300px;
	}

	.swap .l-sidebar {
		position: relative;
		left: -650px;
	}

.l-footer {
	clear: both;
	color: #999999;
	border-top: 2px solid #ff9900;
	text-align: right;
	padding: 15px;
}


/*
******************************************************************************/

.l-header h1 {
	float: left;
	vertical-align: bottom;

	color: #ff9900;
}

.l-header em {
	clear: left;
	float: left;
	line-height: 1;
}

.l-header {
	position: relative;
}

	.l-header .b-skip {
		position: absolute;
		top: 100%; right: 0;
		margin-top: -1.1em;

		color: #999999;
		font-size: .9em;
		line-height: 1;
		font-weight: normal;
	}

.l-header .b-login-bar {
	position: absolute;
	top: 0;
	height: 34px;
	overflow: hidden;
}

	.l-header .b-login-bar li {
		display: inline-block;
	}

		.l-header .b-login-bar li form {
			position: absolute;
		}

/*
******************************************************************************/
	
.b-static-links {
	line-height: 2.9;
	text-align: right;
	color: #cccccc;
}

	.b-static-links li {
		display: inline-block;
		margin-left: 10px;
		vertical-align: bottom;
		line-height: 1;
	}

		.b-static-links li a {
			padding: 0 2px;
			text-decoration: none;
			color: #999999;
			font-weight: bold;
		}

		.b-static-links li a:hover {
			color: #333333;
			border-bottom: 1px dotted;
		}

		.b-static-links li a:active,
		.b-static-links li a.active {
			color: #ff9900;
		}

/*
******************************************************************************/

.b-post {
	margin-bottom: 30px;
}

.b-comments {
	margin-bottom: 30px;
}

/*
******************************************************************************/

.l-footer a {
	color: #999999;
	text-decoration: none;
}

.l-footer a:hover {
	color: #ff9900;
}

/*
******************************************************************************/

.b-block {
	margin-bottom: 15px;
}

.b-meta li {
	display: inline;
}

.b-meta li:before {content: ' | '}
.b-meta li:first-child:before {content: ''}
