{% spaceless %}
{% load i18n %}
{% load pytils_dt %}
{% load pytils_numeral %}
{% load bookmarks %}
{% load tagging_tags %}
{% load bfmarkup %}
{% endspaceless %}

<div class="entry {% cycle 'odd' 'even' %}" id="post-{{ object.id }}">
  <div class="entry-title"><a href="{{ object.get_absolute_url }}">{{ object.name|typogrify|safe }}</a></div>
  <div class="entry-meta">
    <ul>
      <li class="first">
      	On {{ object.date|datelinks }}
        by <a href="{{ object.author.site }}">{{ object.author.first_name }}</a>
      </li>
      <li>
        <a href="{{ object.get_absolute_url }}#comments">
          {{ object.approved_comments_count }}
          {{ object.approved_comments_count|choose_plural:_("comment, comments, comments") }}
        </a>
      </li>
      <li>
        {% if object.pingback_count %}<a href="{{ object.get_absolute_url }}#pingbacks">{% endif %}
        {{ object.pingback_count }}
        {{ object.pingback_count|choose_plural:_("pingback, pingbacks, pingbacks") }}
        {% if object.pingback_count %}</a>{% endif %}
      </li>
      <li>Tags: {% render_tag_string object.get_tags %}</li>
    </ul>
  </div>
  <div class="entry-content">
  {% if not post_detail and object.shortable %}
  {{ object.html_short|safe }}
  <div class="read-more"><a href="{{ object.get_absolute_url }}">{% trans "continue&nbsp;reading" %}...</a></div>
  {% else %}
  {{ object.html|safe }}
  {% endif %}
  </div>
  <div class="entry-meta">
    <ul>
      <li class="first">
        <a href="{{ object.get_absolute_url }}#comments">
          {{ object.approved_comments_count }}
          {{ object.approved_comments_count|choose_plural:_("comment, comments, comments") }}
        </a>
      </li>
      <li>
        {% if object.pingback_count %}<a href="{{ object.get_absolute_url }}#pingbacks">{% endif %}
        {{ object.pingback_count }}
        {{ object.pingback_count|choose_plural:_("pingback, pingbacks, pingbacks") }}
        {% if object.pingback_count %}</a>{% endif %}
      </li>
      <li>Tags: {% render_tag_string object.get_tags %}</li>
    </ul>
  </div>
  {% if post_detail %}
  <div class="entry-bookmarks">
  {% bookmarks object %}
  </div>
  {% endif %}
</div>
