{% extends "admin/base_site.html" %}
{% load i18n admin %}

{% block extrastyle %}
	{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
	{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/index.css" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
	<p>{% trans "You currently have" %}
	<strong><a href="/admin/blog/post">{% posts_count %} {% trans "posts" %}</a></strong>
	{% trans "with" %}
	<a href="/admin/discussion/commentnode/"><strong>{% comments_count %} {% trans "comments" %}</strong></a>.</p>
	
	<!-- COMMON BLOG ACTIONS -->
	<div class="menu-icons">
		<h2>{% trans "Blog actions" %}</h2>
		
		<div><a href="/admin/blog/post/add/">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/newpost.png" />
			</div><br/>
			
			<span>{% trans "New message" %}</span>
		</a></div>
		
		<div><a href="/admin/blog/post">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/entries.png" />
			</div><br/>
			
			<span>{% trans "Entries" %}</span>
		</a></div>
		
		<div><a href="/admin/discussion/commentnode/">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/comments.png" />
			</div><br/>
			
			<span>{% trans "Comments" %}</span>
		</a></div>
	</div>
	
	<!-- SETTINGS -->
	<div class="menu-icons">
		<h2>{% trans "Settings" %}</h2>
		
		<div><a href="/admin/settingsDB/settings/add">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/newconfig.png" />
			</div><br/>
			
			<span>{% trans "New config set" %}</span>
		</a></div>
		
		<div><a href="/admin/settingsDB/settings/">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/configs.png" />
			</div><br/>
			
			<span>{% trans "Edit config set" %}</span>
		</a></div><br/>
	</div>
	
	<!-- SOCIAL SERVICES -->
	<div class="menu-icons">
		<h2>{% trans "Social services" %}</h2>
		
		<div><a href="/admin/crossposting/sideservice/add">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/newaccount.png" />
			</div><br/>
			
			<span>{% trans "New account" %}</span>
		</a></div>
		
		<div><a href="/admin/crossposting/sideservice">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/accounts.png" />
			</div><br/>
			
			<span>{% trans "Edit accounts" %}</span>
		</a></div>
		
		<div><a href="/admin/crossposting/crosspost">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/crossposts.png" />
			</div><br/>
			
			<span>{% trans "Published posts" %}</span>
		</a></div><br/>
	</div>
	
	<!-- USER ACCOUNTS -->
	<div class="menu-icons">
		<h2>{% trans "User's accounts" %}</h2>
		
		<div><a href="/admin/auth/user/add">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/newuser.png" />
			</div><br/>
			
			<span>{% trans "New user" %}</span>
		</a></div>
		
		<div><a href="/admin/auth/user">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/users.png" />
			</div><br/>
			
			<span>{% trans "Edit users" %}</span>
		</a></div>
		
		<div><a href="/admin/auth/group">
			<div class="icon">
				<img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/groups.png" />
			</div><br/>
			
			<span>{% trans "Groups" %}</span>
		</a></div><br/>
	</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
	<div class="module">
		<h2>{% trans "New comments" %}</h2>
		{% new_comments %}
	</div><br/>
	
	<div class="module" id="recent-actions-module">
		<h2>{% trans 'Recent Actions' %}</h2>
		<h3>{% trans 'My Actions' %}</h3>
		
		{% load log %}
		
		{% get_admin_log 10 as admin_log for_user user %}
		{% if not admin_log %}
			<p>{% trans 'None available' %}</p>
		{% else %}
			<ul class="actionlist">{% for entry in admin_log %}
				<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
					{% if entry.is_deletion %}
						{{ entry.object_repr }}
					{% else %}
						<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
					{% endif %}<br/>
					
					{% if entry.content_type %}
						<span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
					{% else %}
						<span class="mini quiet">{% trans 'Unknown content' %}</span>
					{% endif %}
				</li>
			{% endfor %}</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
