{% extends "base.html" %}

{% load i18n %}
{% load theme %}
{% load tagging_tags %}
{% load bfmarkup %}

{% block title %}{%Posts %}{% endblock %}

{% block extrahead %}
	{% theme_css "highlight" %}
	{% theme_js "highlight.pack" %}
	<script type="text/javascript">initHighlightingOnLoad();</script>
	{% if tags %}
	<link	rel="alternate"
			type="application/rss+xml"
			title="{{ site.name }}: posts with tag{{ tags|length|pluralize }} '{{ tags|list_attr:"name"|join:", " }}' feed"
			href="{% url feed feedurl %}" />
	{% else %}
		{% if author %}
	<link	rel="alternate"
			type="application/rss+xml"
			title="{{ site.name }}: posts by author: '{{ author.name }}' feed"
			href="{% url feed feedurl %}" />
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}

	{% filter typogrify %}
		{% if year %}<h2>{%Archive for %} {{ year }}</h2>{% endif %}
		{% if month %}<h2>{%Archive for %} {{ month|date:"F, Y" }}</h2>{% endif %}
		{% if day %}<h2>{%Archive for %} {{ day|date:"F d, Y" }}</h2>{% endif %}

		{% if tags %}
			<h2>
			{% if tags|length|pluralize %}
				{% if union %}
					{%All articles, tagged with union of tags %}
				{% else %}
					{%All articles, tagged with intersection of tags %}
				{% endif %}
			{% else %}
				{%All articles, tagged with %}
			{% endif %}
			"{{ tags|list_attr:"name"|join:", " }}"
			</h2>
		{% else %}
			{% if author %}
				<h2>{%All articles, written by %} "{{ author.name }}"</h2>
			{% endif %}
		{% endif %}
	{% endfilter %}

	{% comment %}
		<!-- example of tag cloud usage -->
		{% tag_cloud_for_model blog.post as tags %}
		{% render_tag_cloud tags %}
	{% endcomment %}

	{% for object in object_list %}
		{% include "blog/post_entry.html" %}
	{% endfor %}

	<ul id="navigation">
		{% if month %}
			{% with previous_month as pm %}<li class="left"><a href="{% url month_archive year=pm.year,month=pm|get_month %}">{%Previous month %}</a></li>{% endwith %}
			{% with next_month as nm %}{% if nm %}<li class="right"><a href="{% url month_archive year=nm.year,month=nm|get_month %}">{%Next month %}</a></li>{% endif %}{% endwith %}
		{% endif %}

		{% if day %}
			{% with previous_day as pd %}<li class="left"><a href="{% url day_archive year=pd.year,month=pd|get_month,day=pd|get_day %}">{%Previous day %}</a></li>{% endwith %}
			{% with next_day as nd %}{% if nd %}<li class="right"><a href="{% url day_archive year=nd.year,month=nd|get_month,day=nd|get_day %}">{%Next day %}</a></li>{% endif %}{% endwith %}
		{% endif %}

		{% if has_next %}<li class="left"><a rel="next" href="?page={{ next }}">{%Older posts %}</a></li>{% endif %}
		{% if has_previous %}
			<li class="right"><a rel="prev" href="{% ifequal previous 1 %}.{% else %}?page={{ previous }}{% endifequal %}">{%Newer posts %}</a></li>
		{% endif %}
	</ul>
{% endblock %}
