{% load i18n %}
		<h1><a href="{% url post_list %}">{{ site.name }}</a></h1>
		<em>{{ settings.TAGLINE }}</em>

		<!-- moar accessability -->
		<a class="b-skip" href="#content">{% trans 'Skip to main content' %}</a>

		{% if not user.is_authenticated %}
		<div class="b-login-bar">
			<form id="login-form" action="{% url login %}" method="post">
				<a href="#login-form" tabindex="19"></a>
				<ul>
					<li>
						<label>{% trans 'E-Mail' %}: <input type="text" id="email" name="email" tabindex="11" /></label>
						<span><a href="#openid-form" id="login-openid" tabindex="15">{% trans 'OpenID' %}</a></span>
					</li>
					<li><label>{% trans 'Password' %}: <input type="password" id="password" name="password" tabindex="12" /></label>
						<span><a href="{% url password_reset %}" tabindex="14" >{% trans "forgot it?" %}</a></span>
					</li>
				</ul>
				<input type="submit" value="{% trans 'Login' %}" tabindex="13" />
			</form>
			<form id="openid-form" action="{% url openid_signin %}" method="post">
				<ul>
					<li>
						<label>{% trans 'OpenID' %}: <input type="text" id="openid_url" name="openid_url" tabindex="21" /></label>
						<span><a href="#login-form" id="login-email" tabindex="20">{% trans 'E-Mail' %}</a></span>
					</li>
				</ul>
				<input type="submit" value="{% trans 'Login' %}" tabindex="22" />
			</form>
		</div>
		{% endif %}

		<h2>{% trans 'Navigation' %}</h2>
		<ul class="b-static-links">
			{% if user.is_authenticated %}
				{% if user.is_staff %}<li><a href="{% url admin '' %}">{% trans 'Admin' %}</a></li>{% endif %}
				<li><a href="{% url profile_edit %}">{% trans 'Profile' %}</a></li>
				<li><a href="{% url logout %}">{% trans 'Logout' %}</a></li>
			{% endif %}
			{% for page in settings.STATIC_PAGES %}
				<li><a title="{{ page.2 }}" href="{{ page.1 }}">{{ page.0 }}</a></li>
			{% endfor %}
		</ul>
