{% load i18n %}

<div id="comment-form">
	<h3>{% blocktrans %}Comment form for &laquo;{{ object }}&raquo;{% endblocktrans %}</h3>
	<form id="comment-form-itself" action="." method="post">
		<ul>
			<li class="b-info">You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> here.</li>
			{% if request.user.is_authenticated %}
				{% include 'blog/forms/_comment.html' %}
			{% else %}
				{% include 'blog/forms/_anonymous-comment.html' %}
			{% endif %}
		</ul>
		
		<div id="comment-preview"></div>

		<input class="form-button form-submit" type="submit" value="{% trans "Comment" %}" />
		<input class="form-button" type="button" value="{% trans "Preview" %}" onclick="return preview_comment('{% url comment_preview %}');" />
		<input class="form-button" type="button" value="{% trans "Cancel" %}" onclick="return cancel_comment();" />
	</form>
</div>
