{% load i18n %}
		<h1><a href="{% url post_list %}">{{ site.name }}</a></h1>
		<em>{{ settings.TAGLINE }}</em>

		<!-- moar accessability -->
		<a class="b-skip" href="#content">{% trans "Skip to main content" %}</a>

		<h2>{% trans "Navigation" %}</h2>
		<ul class="b-static-links">
			{% if user.is_authenticated %}
				{% if user.is_staff %}<li><a href="{% url admin "." %}">{% trans "Admin" %}</a></li>{% endif %}
				<li><a href="{% url profile_edit %}">{% trans "Profile" %}</a></li>
				<li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
			{% endif %}
			{% for page in settings.STATIC_PAGES %}
				<li><a title="{{ page.2 }}" href="{{ page.1 }}">{{ page.0 }}</a></li>
			{% endfor %}
			<li><a onclick="$('body').toggleClass('swap');">Swap</a></li>
		</ul>

<span id="login-shortcuts">
{% if not user.is_authenticated %}
	{% trans "Login with" %}
	<a href="#" id="show-pass">{% trans "password" %}</a> {% trans "or" %}
	<a href="#" id="show-openid">{% trans "OpenID" %}</a>
{% else %}
	{% if user.is_staff %}<a href="{% url admin "." %}">{% trans "Admin" %}</a>{% endif %}
	{% trans "Hello," %} <a href="{% url profile_edit %}">{{ user.name }}</a>
	(<a href="{% url logout %}">{% trans "logout" %}</a>)
{% endif %}
</span>

{% if not user.is_authenticated %}
<form id="login-form" action="{% url login %}" method="post" style="display: none;">
	<table>
		<tr>
			<td></td>
			<td><label for="email">E-Mail:</label></td>
			<td><input type="text" id="email" name="email" tabindex="1" /></td>
		</tr>
		<tr>
			<td class="first"><a href="{% url password_reset %}">{% trans "forgot it?" %}</a></td>
			<td><label for="password">{% trans "Password" %}:</label></td>
			<td><input type="password" id="password" name="password" tabindex="2" /></td>
		</tr>
		<tr>
			<td></td><td></td>
			<td><input type="submit" value="{% trans "Login" %}" tabindex="3" /></td>
		</tr>
	</table>
</form>

<form id="openid-form" action="{% url openid_signin %}" method="post" style="display: none;">
	<table>
		<tr><td class="first"></td></tr>
		<tr>
			<td><label for="openid_url">OpenID:</label></td>
			<td><input type="text" id="openid_url" name="openid_url" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="{% trans "Login" %}" /></td>
		</tr>
	</table>
</form>
{% endif %}
